---
layout: default
title: AI Symposium
small_im: true
---
<div class="c-header-news-detail--news" data-css="c-header-news-detail" data-js-module="header-news-detail">
	<div class="grid__container">
		<div class="grid__row">
			<div class="header-news-detail__container">
				<article class="header-news-detail__wrapper">
					<div class="header-news-detail__iconarea">
						<div class="header-news-detail__icon" title="Icon News"><span class="header-news-detail__icon-text">News</span></div>
					</div>
					<div class="header-news-detail__content">
								<h1 class="header-news-detail__headline">Symposium on AI Research at LMU</h1>
								<p class="header-news-detail__date">Wednesday 29 November 2023, 6:15 pm to 8:00 pm</p>
								<p>Meet the newly appointed AI Professors at LMU Munich and join a panel discussion on the next generation of AI research from the different disciplinary perspectives</p>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>
{% assign sorted = site.data.symposium_people_2 | sort: 'last' %}

		
		
		<article class="c-rte--default" data-css="c-rte">
<div class="rte__container"> 
		<div class="rte__content">
	
				<figure class="c-figure--rte is-rte-embed is-right" data-css="c-figure" data-js-module="overlay-handler">
					<div class="figure__wrapper">
						<picture class="c-picture--default lazyloaded" data-css="c-picture">
							<!--[if IE 9]><audio><![endif]-->
							<source data-srcset="files/Luftbild_Haupt_s.jpg" sizes="411px" srcset="files/Luftbild_Haupt_s.jpg">
							<!--[if IE 9]></audio><![endif]-->
							<img class="picture__image lazyautosizes lazyloaded" src="files/Luftbild_Haupt_s.jpg" alt="Aerial photo of the LMU campus" data-sizes="auto" sizes="411px">
						</picture>
					</div>
						<figcaption class="figure__caption">
						</figcaption>
				</figure>
  			
<p>In order to expand the research network on artificial intelligence in Bavaria, a lot of new AI Professorships were established across the state. This year, there will be an AI symposium, where the newly appointed professors will present their research focuses.
After welcome addresses by the vice-president of LMU, Prof. Dr. Oliver Jahraus, Michael Greiner (Ministerialdirigent Bavarian State Ministry of Science and Art), and Dr. Michael Klimke (Managing Director of <i style="font-style:italic ">baiosphere</i>) and opening remarks by Prof. Dr. Gitta Kutyniok, LMU-Director Konrad Zuse School of Excellence for Reliable AI (relAI), Spokesperson of the CAS Research Focus "Next Generation AI“, the newly appointed AI- and Data Science professors will introduce themselves and their various research approaches at this symposium. A reception will be held after the symposium at the Lichthof of LMU.
</p>
<p>Location: LMU, Große Aula, Geschwister-Scholl-Platz 1, 80539 Munich.			
</p>
<p>Time: Wednesday 29 November 2023, 6:15 pm to 8:00 pm
</p>

	</div>
	<div class="rte__content">	
		<p>The event is open to the public and we kindly ask you to register:</p>
		<div class="clearfix module">
			<div class="mwf-form c-form--mwf" data-css="c-form" >
				<form class="mwf-form" action="https://form.taxi/s/455w0zg3" enctype="multipart/form-data" accept-charset="UTF-8" method="POST" style="margin-left: 20px; margin-right: 20px;">
			<ul class="">
	
	<li data-mwf-container="mwf3552aca9b8bb" class="mwf-field 
			 ">
	
	</li>
	<li data-mwf-container="mwff516a19f72d9" class="mwf-field ">
		<label class="mwf-label" for="mwff516a19f72d9">Name</label>
		<div class="mwf-input">
					<input id="mwff516a19f72d9" name="name" class="mwf-text " data-mwf-id="mwff516a19f72d9" type="text" value="">
	
		</div>
	</li>
	<li data-mwf-container="mwfc053c45da461" class="mwf-field ">
		<label class="mwf-label" for="mwfc053c45da461">E-Mail</label>
		<div class="mwf-input">
					<input id="mwfc053c45da461" name="email" class="mwf-text " data-mwf-id="mwfc053c45da461" type="text" value="">
		</div>
	</li>
	
	<li data-mwf-container="mwf89769ed8ff20" class="mwf-field 
			 ">
		<h3>Data Privacy</h3>
	<p>The information on data protection is available in the <a href="https://www.lmu.de/en/footer/privacy-disclaimer/index.html" target="_blank">LMU privacy policy</a>.</p>
	
	</li>
	<li data-mwf-container="mwf9f7bb19a72c3" class="mwf-field ">
		<div class="mwf-input lmumwf-checkboxarea">
					<fieldset data-mwf-fieldset="mwf9f7bb19a72c3">
	
						<span class="mwf-option">
							<input id="mwf5a00ef16a358" name="Bestaetigung_data" class="mwf-checkbox" data-mwf-value="1" data-mwf-label="Ich bin mit der Datenverarbeitung zur Bearbeitung der Kontaktanfrage einverstanden." data-mwf-id="mwf5a00ef16a358" type="checkbox" value="1"><input type="hidden" name="_Bestaetigung_data" value="on">
					<label for="mwf5a00ef16a358">I agree with the data processing for handling the contact request.
	
							</label>
						</span>
	
						<span class="mwf-option">
							<input id="mwf5a00ef16a359" name="Bestaetigung_image" class="mwf-checkbox" data-mwf-value="2" data-mwf-label="I give permission for the publication and free use of photos and videos taken at the event." data-mwf-id="mwf5a00ef16a358" type="checkbox" value="1"><input type="hidden" name="_Bestaetigung_image" value="on">
					<label for="mwf5a00ef16a359">I give permission for the publication and free use of photos and videos taken at the event.</label>
						</span>
					</fieldset>
		</div>
	</li>
			</ul>
		<ul>
			<li data-mwf-container="_finish_mwf21d48c74b4e5" class="mwf-button mwf-next lmumwf-buttonarea">
				<button class="lmumwf-button lmumwf-button-finish" data-mwf-id="_finish_mwf21d48c74b4e5" data-mwf-submit="{&quot;type&quot;:&quot;finish&quot;}">Send</button>
			</li>
	
		</ul>
			</div>	
		</div>
	</div>


				{% for person in sorted %}
<a id="st_img_text__master_{{ forloop.index }}" name="st_img_text__master_{{ forloop.index }}"></a>
<a id="{{ person.last }}" name="{{ person.last }}"></a>
  <div class="container">
   <div class="column-1 box"style="order: {% cycle 2,1 %}">
					<a href="{{ person.chairLink }}">
						<img src="{{ person.image }}" alt="Image of {{ person.title }} {{ person.firsts }} {{ person.last }}{{ person.after }}{% if person.credit %}, Credit: {{person.credit}}{% endif %}" >
					</a>
   </div>
   <div class="column-2 box" style="order: {% cycle 1,2 %}">
   <h2>{{ person.title }} {{ person.firsts }} {{ person.last }}{{ person.after }}</h2>
	
				<p style="margin-bottom: 10px;"><a class="is-external	" href="{{ person.chairLink }}">{{ person.chair }}</a></p>
				
				<p><b>Research interests:</b> {{ person.interests }}</p>
   </div>
</div>
{% endfor %}
			</article>