
	<div class="c-filter-course-finder--default" data-css="c-filter-course-finder">
		<div class="grid__container">
			<div class="grid__row" >
				<h2 class="c-filter-course-finder__headline">Subscribe to our newsletter</h2>
			<form action="https://seu2.cleverreach.com/f/309506-311536/" class="c-form--default" data-css="c-form">
							<div class="form__input-group-wrapper">
						<div class="form__input-group">
								<div class="form__input-group-button-wrapper">
									<button id="input-group-button" type="submit" class="form__input-group-button_2">
										<span class="form__input-group-button-text_2">Subscribe</span>
									</button>
								</div>
							</div>
						</div>
			</form>
		</div>
	</div>
</div>

			<div class="c-back-to-top--default" data-css="c-back-to-top" data-js-module="back-to-top">
	<div class="grid__container">
		<div class="grid__row is-collapsed">
			<div class="back-to-top__wrapper">
				<a href="#" class="back-to-top__link" data-js-item="back-to-top-link">
					<span class="back-to-top__link-text">nach oben</span>
				</a>
			</div>
		</div>
	</div>
</div>
		</main>
<footer id="footer" class="c-footer" data-js-item="footer">
	<div class="grid__container">
		<div class="grid__row">
			<div class="footer__wrapper">
				<div class="footer__content-wrapper">
					<nav class="footer__navigation">
						<h6 class="footer__navigation-headline">Weiterführende Links</h6>
						<ul class="footer__navigation-list">
							<li class="footer__navigation-list-item is-home">
								<a class="footer__navigation-list-link" href="index.html"><span class="footer__navigation-list-link-text">Startseite</span></a>
							</li>
									  
<li class="footer__navigation-list-item is-twitter" >
	<a class="footer__navigation-list-link" href="https://twitter.com/aiatlmu " target="_blank" rel="noopener" title="Twitter-Link öffnet in neuem Fenster" ><span class="footer__navigation-list-link-text">Twitter</span></a>
</li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="footer__content">
				<div class="footer__wrapper">
					<div class="footer__content-wrapper" itemscope itemtype="https://schema.org/Organization">
<h2 class="footer__content-headline" itemprop="name">Bavarian AI Chair for Mathematical Foundations of Artificial Intelligence</h2>
<address class="footer__content-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
	<span class="footer__content-address-line" itemprop="streetAddress">Ludwig-Maximilians-Universität München</span>
	<span class="footer__content-address-line" itemprop="streetAddress">Theresienstr. 39</span>
	<span itemprop="postalCode">80333</span> <span itemprop="addressLocality">München</span>
</address>
		<div class="footer__content-link-wrapper">
	<a href="https://www.ai.math.uni-muenchen.de/index.html" class="footer__content-link"   target='_blank' rel='noopener' >Homepage</a>
</div>
					</div>
				</div>
			</div>
			<div class="footer__wrapper">
				<div class="footer__content-wrapper">
					<nav class="footer__site-navigation" >
						<h6 class="footer__site-navigation-headline">Other Links</h6>
						<ul class="footer__site-navigation-list">
		<li class="footer__site-navigation-list-item">
<a href="https://www.ai.math.uni-muenchen.de/funktionen/privacy/index.html" class="footer__site-navigation-list-link"  >Privacy Policy</a></li>
		<li class="footer__site-navigation-list-item">
<a href="https://www.ai.math.uni-muenchen.de/funktionen/imprint/index.html" class="footer__site-navigation-list-link"  >Imprint</a></li>
							<li class="footer__site-navigation-list-item is-copyright">
								<span class="footer__site-navigation-list-copy">LMU München © 2023</span>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="c-search-overlay" data-js-module="search-overlay">
	<div class="grid__container">
		<div class="grid__row">
			<div class="search-overlay__wrapper">
				<h3 class="search-overlay__title">Wonach suchen Sie?</h3>				
				<div class="c-search-enter--overlay is-lng-de" data-css="c-search-enter">
					<form class="search-enter__form" action="https://www.lmu.de/de/suche/index.html">
							<div class="c-search-option--default" data-css="c-search-option">		
								<div class="form__radio" data-css="c-form">
									<div class="form__radio-wrapper">
										<ul class="form__radio-list">
											 <li class="form__radio-item">
												<input id="gsearch-1" name="gsearch-t" type="radio" value="gsearch-1" checked="checked" class="form__radio-input">
												<label role="button" for="gsearch-1" class="form__radio-label">zentraler Webauftritt</label>
											</li>
											  <li class="form__radio-item">
												<input id="gsearch-2" name="gsearch-t" type="radio" value="gsearch-2" class="form__radio-input">
												<label role="button" for="gsearch-2" class="form__radio-label">LMU-weit</label>
											</li>
										</ul>
									</div>
								</div>		
							</div>
						<div class="search-enter__input-group-wrapper">
							<input name="q" data-js-item="search-enter-field" type="text" placeholder="Suchbegriff eingeben" class="search-enter__input-text" aria-label="Suche"/>
							<div class="search-enter__button-area">
								<button type="submit" title="Suchen" aria-label="Suchen" class="search-enter__button">
								</button>
							</div>
						</div>
						<div class="search-enter__dsgvo-area">
								<p><a href="https://www.lmu.de/de/footer/datenschutz/index.html#st_img_text__master_26" class="search-enter__dsgvo-link" target="_blank" rel="noopener">Hinweis zur Datenübermittlung bei der Google-Suche</a></p>
							</div>
					</form>
				</div>
				<button class="search-overlay__close" type="button" data-js-item="search-overlay-close">schließen</button>
			</div>
		</div>
	</div>
</div>
		<script src="files/vendors-app.bundle.js"></script>
<script src="files/runtime.bundle.js"></script>
<script src="files/app.bundle.js"></script>
<script src="files/bundle.vue.js"></script>