<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta name="viewport" content="width=device-width"/>
<meta name="language" content="de" />
<meta name="description" content="News from the AI community at LMU Munich" />
<meta name="Publisher" content="Ludwig-Maximilians-Universität München, Geschwister-Scholl-Platz 1, 80539 München" />
<meta name="Revisit" content="After 2 Days" />
<meta name="robots" content="index,follow">
<link rel="preload" href="fonts/roboto-v18-latin-300.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/roboto-v18-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/roboto-v18-latin-italic.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/roboto-v18-latin-700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="files/app.bundle.css"/>
<script src="files/jquery-3.5.1.min.js"></script>
<!-- Integration aller js-files zur Darstellung von Vue -->
<script src="files/v2_6_10_vue_min.js"></script>
<script src="files/v3_1_0_vuex.min.js"></script>
<script src="files/v4_2_6_es6-promise_auto.min.js"></script>
<script src="files/v0_18_0_axios.min.js"></script>
<link rel="shortcut icon" href="files/favicon.ico" type="image/x-icon">
<link rel="icon" href="files/favicon.ico" type="image/x-icon">
    <style>

  .boxicon {
  width: 20%;
  border-width: thin;
  border-style: solid;
  }
  
  .form__input-group-button_2 {
  padding: 1rem 2rem;
min-width: 160px;
  border: none;
outline: none;
font-style: inherit;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
background-color: #00883a;
padding: 1rem 1rem;
min-width: 54px;
height: 54px;
-webkit-transition: background-color 400ms ease-in-out;
transition: background-color 400ms ease-in-out;
-webkit-box-sizing: border-box;
box-sizing: border-box;
  }
  .form__input-group-button_2:hover {
    cursor: pointer;
    background-color: #005524;
}
  
  .form__input-group-button-text_2 {
  display: block;
font-family: Roboto-bold,sans-serif;
font-size: 1.75rem;
color: #fff;
line-height: 1.5;
letter-spacing: .3px;
margin: 0;
padding: 0;
  padding: 1rem 2rem;
border: 0;	
    line-height: inherit;
	-webkit-box-sizing: border-box;
box-sizing: border-box;
  }
  
  .listitem {
  line-height: 3em !important; 
  text-align: center;
  }
    </style>