{% include header.html %}
	<head>
	<base href="../">
	{% include header2.html %}
<title>{{page.title}}</title>
	</head>
	<body>
{% include navigation.html %}
		<main id="r-main" data-js-item="main">

{{ content }}

	<div class="c-filter-course-finder--default" data-css="c-filter-course-finder">
		<div class="grid__container">
			<div class="grid__row" >
			<form action="https://seu2.cleverreach.com/f/309506-311536/" class="c-form--default" data-css="c-form">
				<div class="filter-course-finder__row is-clearfix">
					<div class="filter-course-finder__col is-grid-col is-col-mobile-s-12 is-col-tablet-p-12">
						<div class="form__input-group">
							<div class="form__input-group-wrapper">
								<div class="form__input-group-button-wrapper">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
	{% include footer.html %}
	</body>
</html>
